html {
  min-width: 600px;
}

body, #status {
  margin-top: 0;
}

#status {
  background: lightblue;
  border-radius: 4px;
  padding: 8px;
}

button {
  padding: 2px 12px;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  flex: 1 1 50%;

  display: flex;
  flex-direction: column;

  margin: 0 12px;
}

.column select {
  display: block;
  width: 100%;
  flex: 1 1 100%;
}

.column button {
  flex: 0 0 auto;
  margin: 12px 0;
}

.column input {
  margin-bottom: 8px;
}

.actions {
  text-align: right;
}

#custom-form {
  margin: 0 12px;
  align-items: stretch;
}

#custom-form label {
  flex: 0 0 auto;
  align-self: center;
}

#custom-form input {
  margin: 0 8px;
  min-width: 0;
}

#custom-form button {
  display: block;
  flex: 1 1 auto;
}

#custom-name {
  flex: 2 1 0;
}

#custom-url {
  flex: 4 1 0;
}
